main {
    background-color: #242A32;
    color: #fff;
    min-height: 786px;
}

.container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.container .image-overlay {
    position: relative;
}

.background-image {
    width: 100%;
    border-radius: 0rem 0rem 1rem 1rem;
    height: 13.18363rem;
}

.foreground-image {
    border-radius: 1rem;
    margin-top: 8rem;
    width: 5.9375rem;
    height: 7.5rem;
    position: absolute;
    top: 20px;
    left: 20px;
}

.tab {
    font-size: 0.875rem;
    border-bottom: 2px solid transparent;
}

.tab:hover {
    cursor: pointer;
}

.active-tab {
    border-bottom: 5px solid #3A3F47;
}


.is-show {
    display: flex;
}

.infotab .content {
    font-size: 0.75rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
}

.movie-infos {
    font-size: 0.75rem;
    color: #92929D;
}

.movie-infos img {
    padding-right: .5rem;
}

.image-overlay h5 {
    font-size: 1.125rem;
    margin-left: 8rem;
}

.profile img {
    width: 2.75rem;
    height: 2.75rem;
    padding-bottom: .5rem;
}

.profile {
    text-align: center;
    color: #0296E5;
}

.comment {
    height: 6rem;
    overflow: scroll;
    margin-bottom: 2rem;
}

.col-6{
    text-align: center;
}
.col-6 img {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 6.25rem;
    margin-bottom: .5rem;
}

.col-6 h5{
    font-size: 0.75rem;
    font-weight: 500;
}