main {
    background-color: #242A32;
    color: #fff;
    min-height: 786px;
}

.container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.background-image {
    width: 100%;
    border-radius: 0rem 0rem 1rem 1rem;
    height: 13.18363rem;
}

.foreground-image {
    border-radius: 1rem;
    margin-top: 8rem;
    width: 5.9375rem;
    height: 7.5rem;
    position: absolute;
    top: 20px;
    left: 20px;
}

.detail-menu-item {
    font-size: 0.875rem;
}

.detail-menu-item:hover {
    cursor: pointer;
    font-weight: bold;
}

.active-detail-menu-item {
    border-bottom: 5px solid #3A3F47;
}

.infotab .content {
    font-size: 0.75rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
}

.movie-infos {
    font-size: 0.75rem;
    color: #92929D;
}

.movie-infos .detail-icon{
    padding-right: .5rem;
}

.img-group .movie-title {
    font-size: 1.125rem;
    margin-left: 8rem;
}

.review-profile .user-profile{
    width: 2.75rem;
    height: 2.75rem;
    padding-bottom: .5rem;
}

.review-profile {
    text-align: center;
    color: #0296E5;
}

.comment {
    height: 6rem;
    overflow: scroll;
    margin-bottom: 2rem;
}

.movie-artist{
    text-align: center;
}
.movie-artist .cast-profile {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 6.25rem;
    margin-bottom: .5rem;
}

.movie-artist .cast-name{
    font-size: 0.75rem;
    font-weight: 500;
}
