input{
    width: 30rem;
    border-color: #efb0c7;
}

.center button{
    background-color: white;
    border-color: #efb0c7;
}
.center svg{
    color: #efb0c7;
}

.navbar{
    background-color: #F2BED1;
}

.dropdown button{
    margin-left: 1rem;
    color: white;
    border-color: white;
}

.dropdown{
    margin-left: 2rem;
}
