
.slider .slider-horizontal {
    width: 100% !important;
    overflow: hidden;
    list-style: none;
}

.movie-poster {
    border-radius: 10px;
    width: 90%;
}

.slider-horizontal .slider-item{
    position: relative;
    width: 100px;
    text-align: center;
    padding-top: 2rem;
    animation: moveOne 80s linear infinite;
    height: 200px;
}

@keyframes moveOne {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-700px);
    }
}