main {
    background-color: #242A32;
    min-height: 800px;
}


.form-control, .search-button {
    border: none;
    background-color: #3A3F47;
    color: #fff;
}

.form-control::placeholder {
    color: #67686D;
}

.detail-info {
    font-size: 14px;
    margin-bottom: 5px;
    color: #fff;
}

.col-4 img {
    padding-bottom: 2px;
    padding-right: 5px;
    width: 100%;
}

h4 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 160%;
    letter-spacing: 0.0075rem;
    text-transform: capitalize;
    color: #EBEBEF;
}

p {
    color: #92929D;
}

a {
    text-decoration: none;
}
