button .carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #F2BED1;
}


main {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #F8E8EE;
}

svg{
    margin-right: .5rem;
    margin-bottom: .3rem;
    margin-top: .3rem;
}

.card {
    height: 350px;
    max-height: 350px;
    background-color: #F9F5F6;
    border-color: #efb0c7;
}

.card-body .card-text{
    margin-bottom: 0;
}

.card-body{
    padding: 0;
}