<div class="d-flex flex-column  justify-content-start  gap-4 py-3">
    <div class="d-flex">
        <a href="#" style="color: #F2BED1; margin-left: 6rem;padding-top: .5rem;">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
            </svg>
        </a>
        <h4 class="ms-3 mt-1" style="color: #F2BED1;">Home</h4>
    </div>
    <div class="container backdrop-container d-flex flex-row justify-content-around align-items-end px-3">
        <img class="backdrop-img align-self-start" src="https://image.tmdb.org/t/p/original/{{movie?.backdrop_path}}"
            alt="movie-backdrop">
        <img class="poster-img" src="https://image.tmdb.org/t/p/original/{{movie?.poster_path}}">
        <h1 class="text-dark text-center" style="margin-right: 20rem;margin-bottom: 5rem;">{{movie?.original_title}}
            ({{movie?.title}})</h1>
    </div>
    <div class="container movie-infos d-flex flex-row row-cols-3 justify-content-between px-5">

        <div class="d-flex justify-content-center align-items-center gap-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-calendar"
                viewBox="0 0 16 16">
                <path
                    d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
            </svg>
            {{movie?.release_date.slice(0,4)}}
        </div>

        <div class="d-flex justify-content-center align-items-center  gap-1"><svg xmlns="http://www.w3.org/2000/svg"
                width="18" height="18" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
            </svg>
            {{movie?.runtime +" min" }}
        </div>

        <div class="d-flex justify-content-center align-items-center  gap-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-film"
                viewBox="0 0 16 16">
                <path
                    d="M0 1a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V1zm4 0v6h8V1H4zm8 8H4v6h8V9zM1 1v2h2V1H1zm2 3H1v2h2V4zM1 7v2h2V7H1zm2 3H1v2h2v-2zm-2 3v2h2v-2H1zM15 1h-2v2h2V1zm-2 3v2h2V4h-2zm2 3h-2v2h2V7zm-2 3v2h2v-2h-2zm2 3h-2v2h2v-2z" />
            </svg>
            {{movie?.genres[0].name}}
        </div>
    </div>
    <div class="container d-flex flex-row justify-content-center text-center fw-semibold text-dark my-2">

        <div [class.active-tab]="isTabActive('About Movie')" (click)="setTab('About Movie')" class="col tab ">About
            Movie</div>
        <div [class.active-tab]="isTabActive('Reviews')" (click)="setTab('Reviews')" class="col tab">Reviews</div>
        <div [class.active-tab]="isTabActive('Cast')" (click)="setTab('Cast')" class="col tab">Cast</div>

    </div>

    <div class="container text-dark p-2 px-3 mb-5 pb-5">
        <div *ngIf="isTabActive('About Movie')" [style.display]="'flex'" class="">{{movie?.overview}}</div>

        <div *ngIf="isTabActive('Reviews')" [style.display]="'flex'" class="d-flex flex-column gap-4">
            <div *ngFor="let review of reviews.slice(0,3)" class="d-flex flex-row gap-5">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <img src="../../../assets/images/user.png" alt="usericon">
                    <div class="text-primary fw-bolder">{{review.author_details.rating}}</div>
                </div>
                <div class="d-flex flex-column justify-content-center align-items-start">
                    <div class="fw-bold">{{review.author}}</div>
                    <div class="comment">{{review.content.slice(0,150) + "..."}}</div>
                </div>
            </div>
        </div>
        <div *ngIf="isTabActive('Cast')" [style.display]="'flex'"></div>
    </div>
</div>