main {
    background-color: #242A32;
    min-height: 800px;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.movie-detail img{
    padding-right: 5px;
}

a{
    text-decoration: none;
    color: #fff;
}