main {
    background-color: #F8E8EE;
}

input {
    width: 30rem;
    border-color: #efb0c7;
    margin-left: 25rem;
}

.container button {
    background-color: white;
    border-color: #efb0c7;
}

.container svg {
    color: #efb0c7;
}

.search{
    padding-top: 4rem;
    padding-bottom: 4rem;
    align-items: center;
}

.card {
    height: 350px;
    max-height: 350px;
    background-color: #F9F5F6;
    border-color: #efb0c7;
}

.card-body{
    padding-right: 0;
}

hr{
    color: #e7334b;
}

svg{
    margin-right: .5rem;
    margin-bottom: .3rem;
    margin-top: .3rem;
}


.newsNotFound{
    text-align: center;
    margin-top: 5rem;
    padding-bottom: 31rem;
}