<main>
    <div class="container">
        <div class="row search">
            <form class="d-flex" role="search">
                <input class="form-control me-1 rounded-start-pill" type="search text" placeholder="Film Ara"
                    aria-label="Search" (change)="searchFilter($event)">
                <button class="btn rounded-end-pill" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="22"
                        height="22" fill="currentColor" class="bi bi-search-heart" viewBox="0 0 16 16">
                        <path d="M6.5 4.482c1.664-1.673 5.825 1.254 0 5.018-5.825-3.764-1.664-6.69 0-5.018Z" />
                        <path
                            d="M13 6.5a6.471 6.471 0 0 1-1.258 3.844c.04.03.078.062.115.098l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1.007 1.007 0 0 1-.1-.115h.002A6.5 6.5 0 1 1 13 6.5ZM6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11Z" />
                    </svg></button>
            </form>
            <div class="search-Movie" *ngIf="searchMovie != null">
                <ul>
                    <li class="row">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-3" *ngFor="let movie of searchMovie" >
                                    <div class="card" style="margin-right: 2rem;margin-top: 2rem;">
                                        <img src="https://image.tmdb.org/t/p/original/{{movie.backdrop_path}}" height="170"
                                            class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title pb-0">{{movie.original_title}}</h5>
                                                <p class="card-text"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" style="color: #f5c518"
                                                        fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                        <path
                                                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                    </svg>{{movie.vote_average}}<br>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                                                        class="bi bi-calendar" viewBox="0 0 16 16">
                                                        <path
                                                            d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                                                    </svg>{{movie.release_date}}<br>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                                                        class="bi bi-clock" viewBox="0 0 16 16">
                                                        <path
                                                            d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
                                                        <path
                                                            d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
                                                    </svg>{{movie.vote_count}} min 
                                                </p>
                                            </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="newsNotFound" *ngIf="searchMovie.length == 0">

                    <i class="fa-solid fa-magnifying-glass"></i>
                    <h4>Üzgünüz, bu arama ile eşleşen film bulamadık :(</h4>
                    <p>Başka bir kelime ile tekar deneyebilirsiniz</p>
                </div>
            </div>
        </div>
    </div>
</main>