main{
    background-color: #F8E8EE;
}

.container main {
    padding-top: 5rem;
}

.col-md-3 .section{
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border-color: #F2BED1;
    margin-bottom: 1rem;
}

.col-md-3 .section img{
    border-radius: 2rem;
}

.col-md-3 #genres{
    margin-top: 4rem;
    margin-bottom: 5rem;
}

.card {
    height: 350px;
    max-height: 350px;
    background-color: #F9F5F6;
    border-color: #efb0c7;
}

.card-body{
    padding-right: 0;
}

hr{
    color: #e7334b;
}

svg{
    margin-right: .5rem;
    margin-bottom: .3rem;
    margin-top: .3rem;
}

h3{
    margin-bottom: 2rem;
}