<app-slider></app-slider>

<main>
    <div class="container main">
        <div class="row">
            <div class="col-md-9">
                <h3>Komedi Filmleri</h3>
                <div class="row">
                    aa
                </div>
            </div>
            <div class="col-md-3">
                <div class="container" id="popular">
                    <h3>Nette İlk</h3>
                    <hr>
                    <div class="section border border-danger-subtle">
                        <div class="row">
                            <div class="col-md-3 ms-1 mt-1 mb-1"><img src="https://picsum.photos/200/300" height="50"
                                    width="50" alt=""></div>
                            <div class="col-md-8 ps-0">aaaa</div>
                        </div>
                    </div>
                    <div class="section border border-danger-subtle">
                        <div class="row">
                            <div class="col-md-3 ms-1 mt-1 mb-1"><img src="https://picsum.photos/200/300" height="50"
                                    width="50" alt=""></div>
                            <div class="col-md-8 ps-0">aaaa</div>
                        </div>
                    </div>
                    <div class="section border border-danger-subtle">
                        <div class="row">
                            <div class="col-md-3 ms-1 mt-1 mb-1"><img src="https://picsum.photos/200/300" height="50"
                                    width="50" alt=""></div>
                            <div class="col-md-8 ps-0">aaaa</div>
                        </div>
                    </div>
                    <div class="section border border-danger-subtle">
                        <div class="row">
                            <div class="col-md-3 ms-1 mt-1 mb-1"><img src="https://picsum.photos/200/300" height="50"
                                    width="50" alt=""></div>
                            <div class="col-md-8 ps-0">aaaa</div>
                        </div>
                    </div>
                    <div class="section border border-danger-subtle">
                        <div class="row">
                            <div class="col-md-3 ms-1 mt-1 mb-1"><img src="https://picsum.photos/200/300" height="50"
                                    width="50" alt=""></div>
                            <div class="col-md-8 ps-0">aaaa</div>
                        </div>
                    </div>
                </div>
                <div class="container" id="genres">
                    <h3>Türlerine Göre Filmler</h3>
                    <hr>
                    <div class="row">
                        <div class="col-md-6"> Komedi Filmleri<br>
                            Korku Filmleri<br>
                            Macera Filmleri<br>
                            Müzik Filmleri<br>
                            Müzik Filmleri<br>
                            Polisiye Filmleri<br>
                            Reality Filmleri<br>
                            Reality-TV Filmleri<br>
                            Romantik Filmleri<br>
                            Savaş Filmleri<br>
                            Short Filmleri<br>
                            Spor Filmleri<br>
                            Suç Filmleri</div>
                        <div class="col-md-6">Adult Filmleri<br>
                            Aile Filmleri<br>
                            Aksiyon Filmleri<br>
                            Belgesel Filmleri<br>
                            Bilim Kurgu Filmleri<br>
                            Biyografi Filmleri<br>
                            Dram Filmleri<br>
                            Gerilim Filmleri<br>
                            Gizem Filmleri<br>
                            Talk-Show Filmleri<br>
                            Tarih Filmleri
                            Fantastik Filmleri</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>