<main>
    <app-navbar [title]=this.headerTitle></app-navbar>
    <app-slider></app-slider>
    <div class="container">
        <ul class="movie-categories nav nav-tabs" id="myTab" role="tablist">
            <app-tab-item [id]="'tab1-tab'" [target]="'#tab1'" [controls]="'tab1'" title="Now Playing"></app-tab-item>
            <app-tab-item [id]="'tab2-tab'" [target]="'#tab2'" [controls]="'tab2'" title="Upcoming"></app-tab-item>
            <app-tab-item [id]="'tab3-tab'" [target]="'#tab3'" [controls]="'tab3'" title="Top Rated"></app-tab-item>
            <app-tab-item [id]="'tab4-tab'" [target]="'#tab4'" [controls]="'tab4'" title="Popular"></app-tab-item>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                <div class="row">
                    <div class="col-4 mb-2 mt-4" *ngFor="let most of mostMoviesDisplay">
                        <app-tab-content [movieTitle]="most.original_title" [id]="most.id" [path]="most.poster_path"
                            [altTitle]="'mostImg'"></app-tab-content>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
                <div class="row overflow-auto">
                    <div class="col-4 mb-2 mt-4" *ngFor="let upcoming of upcomingMoviesDisplay">
                        <app-tab-content [movieTitle]="upcoming.original_title" [id]="upcoming.id"
                            [path]="upcoming.poster_path" [altTitle]="'upcomingImg'"></app-tab-content>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
                <div class="row">
                    <div class="col-4 mb-2 mt-4" *ngFor="let top of topMoviesDisplay">
                        <app-tab-content [movieTitle]="top.original_title" [id]="top.id" [path]="top.poster_path"
                            [altTitle]="'topRatedImg'"></app-tab-content>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab4" role="tabpanel" aria-labelledby="tab4-tab">
                <div class="row">
                    <div class="col-4 mb-2 mt-4" *ngFor="let popular of popularMoviesDisplay">
                        <app-tab-content [movieTitle]="popular.original_title" [id]="popular.id"
                            [path]="popular.poster_path" [altTitle]="'popularImg'"></app-tab-content>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>